/* 改变主题色变量 */
$--color-primary: #00F0FA;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../node_modules/element-ui/packages/theme-chalk/src/index.scss";

//按钮
.el-button--primary{
  border: 1px solid #64eefa;
  background: #00F0FA;
  box-shadow: 0 0 5px #00F0FA;
  color: #001F3A;
}

.el-button--info{
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}

.el-button--info:hover, .el-button--info:focus{ // todo按钮点击样式
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}

//输入框
.lighted-input .el-input__inner{
  border: 1px solid #64eefa;
  background: #001430;
  box-shadow: 0 0 5px #00F0FA;
  color: #001F3A;
}

// .el-table tr{
//   background-color: #001432;
// }

// .el-table th.is-leaf{
//   border-radius: 8px;
//   background-color: #001432;
//   border-bottom: none;
// }

// .el-table__header{
//   background-color: #001432;
// 	border-radius: 8px;
//   border: 1px solid #5EEEFA;
// }

// .el-table__row{
//   background-color: #001432 !important;
// 	border-radius: 8px;
//   border: 1px solid #5EEEFA !important;
//   margin-top: 8px;
// }

//form表单
.el-form-item__error{
  color: #ffaf57;
}

//菜单
.el-menu-vertical-demo > .el-menu-item{
  background-color: #00092B !important;
  box-shadow: inset 0px 0px 25px 0px rgba(0, 174, 255, 0.4);
  border: solid 1px #64eefa;
}

.el-submenu__title{
  background-color: #00092B !important;
  box-shadow: inset 0px 0px 25px 0px rgba(0, 174, 255, 0.4);
  border: solid 1px #64eefa;
}

.el-submenu.is-active .el-submenu__title{
  color: #00F0FA !important;
}

.el-menu-item.is-active{
  color: #00F0FA !important;
}

//分页
.el-pagination{
  color: #e1e1e1;
  &__total{
    color: #e1e1e1;
  }
  &__jump{
    background-color: #000310;
    color: #e1e1e1;
  }
  &__editor{
    .el-input__inner{
      background-color: #000310;
      color: #e1e1e1;
      border: 1px solid #e1e1e1;
    }
  }
  .el-select .el-input .el-input__inner{
    background-color: #000310;
    color: #e1e1e1;
    border: 1px solid #e1e1e1;
  }
  .el-pagination__editor.el-input{
    margin: 0 10px;
  }
  button:disabled{
    background-color: #000310;
    color: #e1e1e1;
  }
  .el-pager li{
    background-color: #000310;
    color: #e1e1e1;
  }
  .el-pager li.active{
    color: #00F0FA;
  }
  .btn-prev{
    background-color: #000310;
    color: #e1e1e1;
  }
  .btn-next{
    background-color: #000310;
    color: #e1e1e1;
  }
}

// 弹出框
.el-dialog{
  border: 1px solid #64eefa;
  border-radius: 8px;
  background-color: #000310;
  opacity: 0.9;
  &__title{
    color: #64eefa;
  }
  .el-form-item{
    background: #001F30;
    border: 1px solid #5EEEFA;
    color: #64eefa;
    border-radius: 8px;
    .el-input__inner{
      border: none;
      border-radius: 8px;
      color: #64eefa;
      background: #001F30;
    }
    &__label{
      color: #e1e1e1 !important;
      height: 18px;
      margin-top: 12px;
      text-align: left;
      text-indent: 28px;
      line-height: 18px;
      border-right: 1px solid rgba(41,173,255,0.5);
    }
  }
  .el-select-dropdown{
    background: #001F30;
    border: 1px solid #5EEEFA;
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    background: #5EEEFA;
  }
  .el-icon-close:before{
    color: #64eefa;
  }
}

// 日期选择
.el-date-picker{
  border: 1px solid #64eefa;
  border-radius: 8px;
  background-color: #000310;
  .el-picker-panel__icon-btn{
    color: #00F0FA;
  }
  &__header{
    &-label{
      color: #00F0FA;
    }
  }
  .el-date-table th{
    color: #00F0FA;
    border-bottom: 1px solid rgba(100,238,250, 0.3);
  }
  .el-date-table td div{
    color: #c0c4cc;
  }
  .el-date-table td.next-month div, .el-date-table td.prev-month div{
    color: #606266;
  }
}
.el-popper[x-placement^="bottom"] .popper__arrow::after{
  top: 0;
  border-bottom-color:#64eefa;
}

// tabs
.el-tabs{
  height: auto !important;
}
.el-tabs__nav-wrap::after{
  display: none;
}
.el-tabs__active-bar{
  display: none;
}
.el-tabs__item{
  width: 126px;
  height: 40px;
  margin-right: 16px;
  padding: 0;
  text-align: center;
  color: #000;
	background-image: linear-gradient(
		#e1e1e1, 
		#e1e1e1), 
	linear-gradient(0deg, 
		#17529a 0%, 
		#01a2ff 100%);
	background-blend-mode: normal, 
		normal;
	border-radius: 6px;
}
.el-tabs__item.is-active{
  color: #001532;
	background-image: linear-gradient(
		#0fe5f5, 
		#0fe5f5), 
	linear-gradient(0deg, 
		#17529a 0%, 
		#01a2ff 100%);
	background-blend-mode: normal, 
		normal;
	border-radius: 6px;
}

// message
.el-message-box{
  border: 1px solid #64eefa;
  border-radius: 8px;
  background-color: #000310;
  opacity: 0.9;
  &__title{
    color: #64eefa;
  }
  &__message{
    p{
      color: #e1e1e1;
    }
  }
  &__headerbtn{
    .el-message-box__close{
      color: #64eefa;
    }
  }
}