/* 改变主题色变量 */
$--color-primary: #00F0FA;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../node_modules/element-ui/packages/theme-chalk/src/index.scss";

//按钮
.el-button--primary{
  border: 1px solid #64eefa;
  background: #00F0FA;
  box-shadow: 0 0 5px #00F0FA;
  color: #001F3A;
}

.el-button--info{
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}

.el-button--info:hover{
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}

//输入框
.lighted-input .el-input__inner{
  border: 1px solid #64eefa;
  background: #001430;
  box-shadow: 0 0 5px #00F0FA;
  color: #001F3A;
}

// .el-table tr{
//   background-color: #001432;
// }

// .el-table th.is-leaf{
//   border-radius: 8px;
//   background-color: #001432;
//   border-bottom: none;
// }

// .el-table__header{
//   background-color: #001432;
// 	border-radius: 8px;
//   border: 1px solid #5EEEFA;
// }

// .el-table__row{
//   background-color: #001432 !important;
// 	border-radius: 8px;
//   border: 1px solid #5EEEFA !important;
//   margin-top: 8px;
// }

//form表单
.el-form-item__error{
  color: #ffaf57;
}

//菜单
.el-menu-vertical-demo > .el-menu-item{
  background-color: #00092B !important;
  box-shadow: inset 0px 0px 25px 0px rgba(0, 174, 255, 0.4);
  border: solid 1px #64eefa;
}

.el-submenu__title{
  background-color: #00092B !important;
  box-shadow: inset 0px 0px 25px 0px rgba(0, 174, 255, 0.4);
  border: solid 1px #64eefa;
}

//分页
.el-pagination{
  color: #e1e1e1;
  &__total{
    color: #e1e1e1;
  }
  &__jump{
    background-color: #001432;
    color: #e1e1e1;
  }
  &__editor{
    .el-input__inner{
      background-color: #001432;
      color: #e1e1e1;
      border: 1px solid #e1e1e1;
    }
  }
  .el-select .el-input .el-input__inner{
    background-color: #001432;
    color: #e1e1e1;
    border: 1px solid #e1e1e1;
  }
  button:disabled{
    background-color: #001432;
    color: #e1e1e1;
  }
  .el-pager li{
    background-color: #001432;
    color: #e1e1e1;
  }
  .btn-next{
    background-color: #001432;
    color: #e1e1e1;
  }
}
