@import './variables.scss';
@mixin link{
  color: $operateColor;
  cursor: pointer;
}

@mixin miniTxt{
  font-weight: normal;
  color: $miniTxtColor;
  font-size: $miniTxtSize;
}

@mixin mediumTxt{
  font-weight: normal;
  color: $mediumTxtColor;
  font-size: $mediumTxtSize
}

@mixin clearfix {
  clear: both;
  *zoom: 1;
  &:after {
    display: block;
    clear: both;
    content: "\0020";
    visibility: hidden;
    height: 0;
  }
}

@mixin input{
  color: $textColor;
  border: 1px solid $borderColor;
  background-color: $inputBgColor;
}

@mixin button{
  color: $btnColor;
  border: 1px solid $borderColor;
  background-color: $btnBgColor;
  border-radius: $normalRadius;
}

@mixin button-hover{
  color: #fff;
  border: 1px solid $borderColor;
  background-color: $btnBgColor;
  border-radius: $normalRadius;
}

@mixin button-active{
  color: #fff;
  border: 1px solid $borderColor;
  background-color: $btnBgColor;
  border-radius: $normalRadius;
}

@mixin button-warning{
  color: $btnWarningColor;
  border: 1px solid $borderColor;
  background-color: $btnWarningBgColor;
  border-radius: $normalRadius;
}