//body
$bgBodyColor: #EAEDF1;
$operateColor: #47A2FF;
$miniTxtColor: #999;
$miniTxtSize: 12px;
$mediumTxtColor: #333;
$mediumTxtSize: 14px;
$textColor: #64eefa;
$borderColor: #5eeefa;
$inputBgColor: #001f30;
$btnBgColor: #00f0fa;
$btnColor: #001532;
$normalRadius: 8px;
$btnWarningBgColor: #ffaf57;
$btnWarningColor: #001532;
